.row
  - if @user.present?
    .col-sm-4
      .well
        = render @user
  %div{class: @user.present? ? 'col-sm-8' : 'col-sm-12'}
    - @blogs.each do |blog|
      .well
        %h2= link_to blog.title, [blog.user, blog]
        = blog.content.html_safe

