.row
  - if @user.present?
    .col-sm-4
      = render @user
  %div{class: @user.present? ? 'col-sm-8' : 'col-sm-12'}
    - @blogs.each do |blog|
      .panel.panel-default
        .panel-body
          %h2= link_to blog.title, [blog.user, blog]
          = blog.content.html_safe

