%h2= "Hi #{@user.name}"

%p Welcome to Montclair Portal.

%p
  %strong Forum:
  Discuss&share everything for your academic success.
%p
  %strong File Share:
  Share your study notes/resources/assignment solutions/exam questions.
%p
  %strong Blog:
  Share your resources and study notes.

Regards