.row
  .col-sm-12
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        .item.active
          %img{:alt => "...", :src => asset_path('slide-1.jpg')}/
          .carousel-caption
            Montclair Forum
        .item
          %img{:alt => "...", :src => asset_path('slide-2.jpg')}/
          .carousel-caption
            Montclair Blog
        .item
          %img{:alt => "...", :src => asset_path('slide-3.jpg')}/
          .carousel-caption
            Everything for Montclair
        .item
          %img{:alt => "...", :src => asset_path('slide-4.jpg')}/
          .carousel-caption
            Montclair File Sharing

      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

.row
  .col-sm-12.center
    %h1 Everything For Students
    %hr/
    .row
      .col-sm-4.center
        %span.fa.fa-files-o.fa-5x
        %h2.title File Share
        %p Share your study notes/resources/assignment solutions/exam questions.
      .col-sm-4.center
        %span.fa.fa-list.fa-5x
        %h2.title Forum
        %p Discuss&share everything for your academic success.
      .col-sm-4.center
        %span.fa.fa-pencil.fa-5x
        %h2.title Blog
        %p Share your resources and study notes.
