%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to 'Dashboard', hq_dashboard_index_path
  %li.launcher
    %i.icon-file-text-alt
    =link_to 'Forum', hq_forums_path