- if flash.count > 0
  .row-fluid
    - flash.each do |name, msg|
      - if name.to_s == 'alert'
        - name = 'danger'
      - elsif name.to_s == 'notice'
        - name = 'success'
      - if msg.is_a?(String)
        %div{class: "alert alert-#{name}"}
          %a.close{data: {dismiss: 'alert'}, href: '#'} &times;
          = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)